@import url("sprite.css");
@import url("table.css");

.more {
    color: #58C3E5;
    cursor: pointer;
}

#facetReset {
    padding-left: 5px;
}

.term-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 6px;
    white-space: nowrap;
    overflow-x: auto;
}

.term-list li {
    font-size: 90%;
    padding-left: 0;
    margin-left: 0;
}

/*search results*/
.summation {
    text-align: justify;
}

/*.summation:hover {*/
    /*max-height: 999px;*/
/*}*/

.highlighting {
    background-color: #f1f1f1;
}

.padding {
    padding: 0;
}

.padding.left {
    padding-left: 15px;
}

.padding.left30 {
    padding-left: 30px;
}

.padding.right {
    padding-top: 15px;
}

.padding.right30 {
    padding-top: 30px;
}

.padding.top {
    padding-top: 15px;
}

.padding.bottom {
    padding-bottom: 15px;
}

/*detail page list */

.list {
    list-style-type: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.list li {
    padding-left: 0;
    margin-left: 0;
    font-size: 100%;
}

.errorList {
    font-size: 90%;
}

.list li a {
    -webkit-transition: font-size 0.9s ease, background-color 0.9s ease;
    -moz-transition: font-size 0.9s ease, background-color 0.9s ease;
    -o-transition: font-size 0.9s ease, background-color 0.9s ease;
    -ms-transition: font-size 0.9s ease, background-color 0.9s ease;
    transition: font-size 0.9s ease, background-color 0.9s ease;
}

/*.list li a:hover {*/
    /*background: #f6f6f6;*/
/*}*/

/*prune tree*/
.block {
    display: block;
}

.plus {
    font-size: 108%;
    cursor: pointer;
    margin: 0 3px;
    padding: 0;
}

.treeContent {
    padding-left: 4px;
    display: none;
    max-height: 300px;
    overflow-y: auto;
}

.overflow {
    max-height: 150px;
    overflow-y: auto;
}

ul.tree,
ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
    position: relative;
}

ul.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

ul.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    position: absolute;
    top: 10px;
    left: 0;
}

ul.tree ul li:last-child:before {
    background: white;
    height: auto;
    top: 10px;
    bottom: 0;
}

ul.tree li a {
    -webkit-transition: font-size 0.5s ease, background-color 0.5s ease;
    -moz-transition: font-size 0.5s ease, background-color 0.5s ease;
    -o-transition: font-size 0.5s ease, background-color 0.5s ease;
    -ms-transition: font-size 0.5s ease, background-color 0.5s ease;
    transition: font-size 0.5s ease, background-color 0.5s ease;
}

ul.tree li a:visited {
    -webkit-transition: font-size 0.5s ease, background-color 0.5s ease;
    -moz-transition: font-size 0.5s ease, background-color 0.5s ease;
    -o-transition: font-size 0.5s ease, background-color 0.5s ease;
    -ms-transition: font-size 0.5s ease, background-color 0.5s ease;
    transition: font-size 0.5s ease, background-color 0.5s ease;
}

.tree-root i[class^="fa fa-"],
.tree-root i[class*=" fa fa-"] {
    font-size: 13px;
    padding-right: 0.3em;
}


.fixedTable {
    table-layout: fixed;
}

.fixedTable td {
    width: 20%;
}

.fixedTable td + td {
    width: auto;
}

.advTable {
    width: 80%;
    align-content: center;
    table-layout: fixed;
}

.advTable td {
    overflow: auto;
}

.adv-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    white-space: nowrap;
    height: 250px;
    overflow-x: auto;
    overflow-y: auto;
}

.adv-list li {
    font-size: 90%;
    padding-left: 0;
    margin-left: 0;
}

.searchBox {
    width: 98%;
    height: 10%;
}

/*.contact-form {*/
    /*padding: 1px;*/
    /*width: 100%;*/
    /*margin-top: 20px;*/
/*}*/

/*.contact-form h4 {*/
    /*color: #05194C !important;*/
    /*padding-bottom: 15px;*/
/*}*/

/*.contact-form .fieldarea {*/
    /*background: #fff;*/
    /*padding-left: 20px;*/
/*}*/

/*.contact-form .fieldarea label {*/
    /*width: 80px;*/
    /*margin-left: 5px;*/
/*}*/

/*.contact-form .fieldarea p {*/
    /*height: 10px;*/
    /*margin-top: -9px;*/
/*}*/

/*.contact-form .fieldarea textarea {*/
    /*width: 387px;*/
/*}*/

/*.contact-form .field {*/
    /*!*padding: 4px;*!*/
    /*margin: 1px;*/
    /*background: #fff;*/
    /*padding-left: 20px;*/
/*}*/

/*.contact-form .field label {*/
    /*display: inline-block;*/
    /*width: 80px;*/
/*}*/

/*.contact-form .button-send {*/
    /*width: 42%;*/
    /*text-align: right;*/
    /*margin-top: 15px;*/
    /*padding-left: 20px;*/
/*}*/

/*.contact-form .field input {*/
    /*display: inline-block;*/
    /*width: 300px;*/
/*}*/

/*.contact-msg-error {*/
    /*color: #FF0000;*/
    /*margin: 5px;*/
/*}*/

/*.contact-msg-success {*/
    /*margin: 15px;*/
    /*color: #4C4C74;*/
    /*font-weight: bold;*/
/*}*/

/*.generic-error-div h4 {*/
    /*color: #05194C !important;*/
/*}*/

.pathway_location_section {
    padding: 6px;
}

div#one {
    width: 34%;
    float: left;
}

div#two {
    margin-top: 9px;
    height: 28px;
}

.margin {
    margin-top: 15px;
}

.overme_3c {
    width: 200px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1F419A;
    border: 0;
    padding: 0 6px 0 0;
}

.overme_5c {
    width: 144px;
    max-width: 144px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1F419A;
    border: 0;
    padding: 0;
}

.advancedFilteringParam {
    padding-bottom: 20px;
}

.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.div-header {
    border: none;
    color: #1F419A;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 3px #ffffff;
    background-color: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee, #d8d8d8);
    background: -o-linear-gradient(top, #eeeeee, #d8d8d8);
    background: -webkit-linear-gradient(top, #eeeeee, #d8d8d8);
    background: linear-gradient(top, #eeeeee, #d8d8d8);
    border-radius: 4px 4px 0 0;
    padding: 4px 3px 0 12px;
}

.dataschema-tree {
    box-shadow: 2px 2px 1px #AFAFAF;
    width: 100%;
    background-color: #B0C4DE;
    margin: 9px auto;
    border-radius: 5px 5px 0 0;
}

.dataschema-tree ul.tree li {
    margin-right: 0;
    padding-right: 0;
}

/*.dataschema-tree ul.tree li span:hover {*/
    /*background-color: aliceblue;*/
    /*!*padding-right: 2px;*!*/
    /*!*padding-bottom: 1px;*!*/
    /*!*padding-left: 2px;*!*/
    /*border-radius: 3px;*/
    /*box-shadow: 1px 1px 1px #AFAFB2;*/
/*}*/

.dataschema-tree ul.tree li.schema-item a {
    font-size: 12px !important;
    color: #009;
}

.dataschema-tree ul.tree li.schema-item a:visited {
    font-size: 12px !important;
    color: #009;
}

.dataschema-tree ul.tree li.schema-item {
    padding-left: 11px;
}

.dataschema-tree ul.tree ul li:last-child:before {
    background: #B0C4DE;
    height: auto;
    top: 10px;
    bottom: 0;
}

/******************/
/* DETAILS HEADER */
/******************/
#fav-container h3.details-title {
    border-bottom: 2px solid #58C3E5;
    margin-top: 15px;
    padding-bottom: 1px;
    word-wrap: break-word;
}

#fav-container div.extended-header {
    margin-bottom: 20px;
}

#fav-container div.fieldset-pair-container {
    margin-bottom: 5px;
}

#fav-container div.fieldset-pair-container div {
    margin: 0 0 2px 0;
}

#fav-container div.extended-header .details-label,
#fav-container div.fieldset-pair-container .label {
    text-align: right;
    font-size: 13px;
    background: none;
    font-weight: bold;
}

#fav-container div.extended-header .details-field,
#fav-container div.fieldset-pair-container .field {
    /*float: left;*/
    padding-left: 30px;
    border-left: 1px solid orange;
    word-wrap: break-word;
    /*width: 80%;*/
    /*max-width: 756px;*/
    min-height: 10px;
    max-height: 150px;
    overflow: auto;
}

#fav-container div.fieldset-pair-container .label {
    width: 140px;
}

#fav-container div.fieldset-pair-container .field {
    border-left: 1px solid #1F419A;
    /*border-left: 1px solid orange;*/
}

/* END START DETAILS HEADER */

/* START FIELDSET DETAILS PAGE STYLING */
#fav-container .fieldset-details {
    border: 1px solid #e7e7e7;
    padding: 0 0 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e7e7e7;
    margin-bottom: 25px;
}

#fav-container .fieldset-details legend {
    /*color: #58C3E5;*/
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 0 10px 0 3px;
    text-shadow: 0 1px 1px #ddd;
    width: auto;
}

#fav-container .species-selector {
    margin: 10px 0;
}
/*#fav-container .fieldset-details table.something tr:hover {*/
    /*background-color: #f9f9f9;*/
/*}*/

#fav-container .fieldset-details > .padding {
    padding-left: 25px;
    padding-right: 25px;
}

/* END FIELDSET DETAILS PAGE STYLING */

.overflow-content-div {
    height: auto;
    max-height: 120px;
    overflow: auto;
    padding-top: 1px;
    padding-left: 2px;
    border: 1px solid #f1f1f1;
    margin-left: 5px;
    margin-right: 5px;
}



.tree-root {
    color: #58C3E5;
}

a.tree-root:visited {
    color: #1F419A;
}

.tree-highlighted-item {
    background-color: beige;
}

.tree-grayedout-item {
    color: #AFAFAF;
}

a.tree-highlighted-item:visited {
    color: #1F419A;
}

.schema-attr-header {
    background-color: #B0C4DE;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 1px #AFAFB2;
    padding: 3px 0;
    text-shadow: 1px 1px 1px darkgray;
}

.no-margin {
    margin: 0;
}

.attributeBrowser {
    margin-left: 10px;
}

.instructions {
    margin-top: 20px;
}

.selected {
    text-decoration: none !important;
    background-color: aliceblue;
    /*padding-right: 2px;*/
    /*padding-bottom: 1px;*/
    /*padding-left: 2px;*/
    /*border-radius: 3px;*/
    box-shadow: 1px 1px 1px #AFAFB2;
}

.node-item {
    margin-right: 4px;
    padding-bottom: 1px;
    padding-left: 2px;
    border-radius: 3px;
}

.node-item a:hover, .node-count a:hover {
    text-decoration: underline;
}

.breadcrumbs {
    margin: 12px 0 -15px 2px;
}

.breadcrumbs a, .breadcrumbs a:visited{
    color: #1F419A;
}

.own {
    background-color: #F5DEB3;
    padding: 1px 1px 1px 2px;
}



/* NEW */


#fav-container div#search-results h3 {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    padding: .5rem .625rem .625rem;
    font-weight: 700;
    text-align: left;
}

#fav-container div#search-results h3 span {
    font-weight: 100;
    font-size: 16px;
}

#fav-container div#search-results h3 a {
    color: #58C3E5;
    border-bottom: 1px dotted lightgray;
}

#fav-container div#search-results h3 a:hover,
#fav-container div#search-results h3 a:focus{
    border-bottom: 1px solid #58C3E5;
}

#fav-container div#search-headers div{
    border-bottom: 1px dotted #CCCCCC;
}

#fav-container div#search-headers h2  {
    margin-top: 5px;
    color: #58c3e5;
}

#fav-container div#search-headers h2 span.searchterm  {
    background-color: #58C3E5;
    /*padding: 0 5px;*/
    color: #FFF;
}

#fav-container .pagination ul > .active > a,
#fav-container .pagination ul > .active > span {
    background-color: #f5f5f5;
}

#fav-container .pagination ul>li>a,
#fav-container .pagination ul>li>span {
    float: left;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

#fav-container .morecontent span {
    display: none;
}

#fav-container .morelink,
#fav-container .morelink:focus,
#fav-container .morelink:hover{
    display: inline;
    color: #58C3E5;
}

#fav-container .filter-wrapper {
    margin-left: 10px;
}

#fav-container .filter-wrapper input[type="checkbox"] {
    margin: 0;
}

#fav-container .btn.reset-filter {
    padding: 6px;
}

#fav-container div#search-results h4 {
    font-size: 108%;
    padding: 3px 5px;
    margin: 5px;
}

#fav-container div.result {
    border-bottom: 1px dotted #CCC;
    padding-bottom: 10px;
    border-radius: 1px;
    margin: 3px 3px;
}

#fav-container div.result-detail {
    padding-left: 10px;
}

#fav-container div.result-title {
    margin-bottom: -5px;
}

#fav-container h1 a,
#fav-container h2 a,
#fav-container h3 a,
#fav-container h4 a,
#fav-container h5 a,
#fav-container h6 a {
    color: #58C3E5;
    font-weight: bold;
}

/* Search Results - Side navigation menu */
#fav-container .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: -1px;
    background-color: #f5f5f5;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: 1px dotted #d9d9d9;
}

/* The navigation menu links */
#fav-container .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
#fav-container .sidenav a:hover,
#fav-container .sidenav a:focus {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#fav-container .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#search-filters {
    transition: margin-left .5s;
}

#fav-container div#fav-lead1 {
    padding-left: 0;
    padding-right: 0;
}

#contact-form textarea,
#contact-form input[type="text"],
#contact-form input[type="email"] {
    width: 50%;
}

.list.lower-alpha {
    list-style-type: lower-alpha;
}

#fav-container .expand-all,
#fav-container .collapse-all {
    font-size: 14px;
    cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    #fav-container .sidenav {padding-top: 15px;}
    #fav-container .sidenav a {font-size: 18px;}
}
/******/


/* CSS Media Queries */
@media (max-width: 768px) {
    #contact-form textarea,
    #contact-form input[type="text"],
    #contact-form input[type="email"] {
        width: 85%;
    }
}

@media (max-width: 425px) {

    #fav-container .fieldset-details legend {
        font-size: 12px;
        margin-left: 10px;
    }

    #fav-container div#search-results {
        padding: 0;
    }

    #contact-form textarea,
    #contact-form input[type="text"],
    #contact-form input[type="email"] {
        width: 100%;
    }

    #fav-container div.extended-header .details-label, #fav-container div.fieldset-pair-container .label {
        text-align: left;
    }

    #fav-container div.extended-header .details-field,
    #fav-container div.fieldset-pair-container .field {
        text-align: left;
        padding-left: 30px;
        padding-bottom: 2px;
        border-left: none;
        word-wrap: break-word;
        overflow: auto;
    }

    #fav-container .expand-all,
    #fav-container .collapse-all {
        font-size: 12px;
        cursor: pointer;
    }

    #fav-container .expand-all:hover,
    #fav-container .expand-all:focus,
    #fav-container .collapse-all:hover,
    #fav-container .collapse-all:focus {
        color: #58C3E5 !important;
        outline: none;
    }

    /* Locations in the PWB Tree */
    .plus {
        font-size: 85%;
        cursor: pointer;
        /*margin: 0 3px;*/
        margin: 0;
        padding: 0;

        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .treeContent {
        padding-left: 0;
        display: none;
        max-height: 300px;
        overflow-y: auto;
        margin-left: 3px
    }

    ul.tree,
    ul.tree ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.tree ul {
        margin-left: 0;
        position: relative;
    }

    ul.tree li {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
        position: relative;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 99%;
        padding: 0 0 0 12px;
    }

    .tree-root i[class^="fa fa-"],
    .tree-root i[class*=" fa fa-"] {
        font-size: 12px;
        padding-right: 0.2em;
    }
}

@media (max-width: 320px) {
    #fav-container div#search-headers h2 {
        font-size: 22px;
    }

    #fav-container div#search-results h3 {
        padding: 0 0 0 5px;
        margin-top: 11px;
        margin-bottom: 6px;
    }

    #fav-container div#search-results h3 a {
        font-size: 16px;
    }

    #fav-container div#search-results h3 span{
        font-weight: 100;
        font-size: 13px;
    }
}