/* Styling table with fixed header and scrollable content */
.dt-fixed-header {
    table-layout: fixed;
}

.dt-fixed-header td {
    width: 20%;
}

.dt-fixed-header td + td {
    width: auto;
}

.schema-table {
    margin: 3px 20px 7px 25px;
}

.schema-table table {
    width: 300px;
    table-layout: fixed;
}

.schema-table table tbody tr {
    border-bottom: 1px dotted #e2e2e2;
}

.declared:hover {
    background: #fae2cb !important;
}

.undeclared:hover *{
    background-color: #f4faff !important;
}

.undeclared a:hover {
    color: #009 !important;
}

.types {
    list-style-type: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.types li {
    padding-left: 0;
    margin-left: 0;
    font-size: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.types a:hover {
    color: #009 !important;
}

.schema-table .dt-fixed-header {
    margin-bottom: 0;
    border-bottom: 0;
}

.schema-table .dt-fixed-header th {
    border:none !important;
    color: #1F419A;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 2px 2px 1px #AFAFAF;
    text-shadow: 1px 1px 3px #ffffff;
    background-color: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee, #d8d8d8);
    background: -o-linear-gradient(top, #eeeeee, #d8d8d8);
    background: -webkit-linear-gradient(top, #eeeeee, #d8d8d8);
    background: linear-gradient(top, #eeeeee, #d8d8d8);
    padding: 5px 15px 2px 15px;
}

.schema-table .dt-fixed-header th:first-child {
    border-radius: 5px 0 0 0;
}

.schema-table .dt-fixed-header th:last-child {
    border-radius: 0 5px 0 0;
}

/** Use this style in the tables if you don't want overflow **/
.schema-table .dt-content {
    margin-top: 5px;
}

.schema-table .dt-content a:visited {
    color: #009;
}

/** Use this style in the tables if you DO want overflow **/
.schema-table .dt-content-ovf {
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.schema-table .dt-content-ovf a:visited {
    color: #009;
}

.schema-table .dt-content-ovf table, .schema-table .dt-content table {
    margin-top: 0;
}

.schema-table .dt-content-ovf table td, .schema-table .dt-content table td{
    border: none !important;
    color: #000;
    padding-left: 20px;
    padding-bottom: 2px;
    padding-top: 3px;
    vertical-align: middle;
}

.schema-table .dt-content-ovf table tr:first-child, .schema-table .dt-content table tr:first-child {
    border-top: 1px solid transparent !important;
}

.schema-table .dt-content-ovf table tr:last-child, .schema-table .dt-content table tr:last-child {
    border-bottom: 1px solid transparent !important;
}

.schema-table .tabular {
    border: 0 none;
    padding-top: 0;
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
}


.schema-div {
    margin: 30px 0 30px 0;
}

.schema-div table.schema-detail-table {
    padding: 5px 0 10px 0;
    width: 100%;
    box-shadow: 1px 1px 1px #AFAFB2;
    border-radius: 5px;
}

.schema-div table.schema-detail-table  td {
    padding: 1px 5px;
    border:none;
    word-break: break-all;
    vertical-align: middle;
}

.schema-div table.schema-detail-table tbody tr:first-child td:first-child {
    border-radius: 5px 0 0 0;
}

.schema-div table.schema-detail-table tbody tr:first-child td:last-child {
    border-radius: 0 5px 0 0;
}

.schema-div table.schema-detail-table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

.schema-div table.schema-detail-table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

.schema-div table.schema-detail-table td:first-child {
    background-color: #B0C4DE !important;
    color: #000000;
    font-weight: 500;
    border-bottom:1px solid #E9E9E9;
    padding: 2px 10px;
}

.schema-attr-table {
    width: 100% !important;
    margin: 11px 0 !important;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #AFAFB2;
    border-radius: 5px 5px 0 0;
}

.schema-attr-table tr:first-child td:first-child {
    border-radius: 5px 0 0 0;
}

.schema-attr-table tr:first-child td:last-child {
    border-radius: 0 5px 0 0;
}

.schema-attr-table tr td, .schema-attr-table tr th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.schema-attr-table tr td, .schema-attr-table tr th, .schema-attr-table tbody, .schema-attr-table thead {
    padding-left: 8px !important;
    padding-right: 5px !important;
}

.schema-attr-table tr td {
    padding-left: 8px !important;
}

.no-margin {
    margin: 0;
}

.goto-details-light {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:2px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:0px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.goto-details-light:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
}
.goto-details-light:active {
    position:relative;
    top:1px;
}
