/** START - Sprite base configuration **/
.sprite {
    background: url(../images/spritesheet.png) no-repeat;
    display: inline-block;
}

.sprite-resize {
    zoom: .75;
    -moz-transform: scale(.75);
}

.sprite-resize-small {
    zoom: .6;
    -moz-transform: scale(.6);
}

.sprite-position {
    vertical-align: middle;
    padding: 2px;
}
/** END - Sprite base configuration **/

.sprite-BlackBoxEvent {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-CandidateSet {
    width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-Complex {
    width: 16px;
    height: 16px;
    background-position: -57px -5px;
}

.sprite-ConceptualEvent {
    width: 16px;
    height: 16px;
    background-position: -83px -5px;
}

.sprite-DefinedSet {
    width: 16px;
    height: 16px;
    background-position: -109px -5px;
}

.sprite-Depolymerization {
    width: 16px;
    height: 16px;
    background-position: -5px -31px;
}

.sprite-EntitySet {
    width: 16px;
    height: 16px;
    background-position: -31px -31px;
}

.sprite-EntityWithAccessionedSequence {
    width: 16px;
    height: 16px;
    background-position: -57px -31px;
}

.sprite-EquivalentEventSet {
    width: 16px;
    height: 16px;
    background-position: -83px -31px;
}

.sprite-FailedReaction {
    width: 16px;
    height: 16px;
    background-position: -109px -31px;
}

.sprite-GenomeEncodedEntity {
    width: 16px;
    height: 16px;
    background-position: -5px -57px;
}

.sprite-Interactor {
    width: 16px;
    height: 16px;
    background-position: -31px -57px;
}

.sprite-NegativeRegulation {
    width: 16px;
    height: 16px;
    background-position: -57px -57px;
}

.sprite-OpenSet {
    width: 16px;
    height: 16px;
    background-position: -83px -57px;
}

.sprite-OtherEntity {
    width: 16px;
    height: 16px;
    background-position: -109px -57px;
}

.sprite-Pathway {
    width: 16px;
    height: 16px;
    background-position: -5px -83px;
}

.sprite-Polymer {
    width: 16px;
    height: 16px;
    background-position: -31px -83px;
}

.sprite-Polymerisation {
    width: 16px;
    height: 16px;
    background-position: -57px -83px;
}

.sprite-PositiveRegulation {
    width: 16px;
    height: 16px;
    background-position: -83px -83px;
}

.sprite-Reaction {
    width: 16px;
    height: 16px;
    background-position: -109px -83px;
}

.sprite-ReferenceDNASequence {
    width: 16px;
    height: 16px;
    background-position: -5px -109px;
}

.sprite-ReferenceGeneProduct {
    width: 16px;
    height: 16px;
    background-position: -31px -109px;
}

.sprite-ReferenceGroup {
    width: 16px;
    height: 16px;
    background-position: -57px -109px;
}

.sprite-ReferenceIsoform {
    width: 16px;
    height: 16px;
    background-position: -83px -109px;
}

.sprite-ReferenceMolecule {
    width: 16px;
    height: 16px;
    background-position: -109px -109px;
}

.sprite-ReferenceRNASequence {
    width: 16px;
    height: 16px;
    background-position: -135px -5px;
}

.sprite-Requirement {
    width: 16px;
    height: 16px;
    background-position: -135px -31px;
}

.sprite-SimpleEntity {
    width: 16px;
    height: 16px;
    background-position: -135px -57px;
}

.sprite-TopLevelPathway {
    width: 16px;
    height: 16px;
    background-position: -135px -83px;
}

.sprite-isDisease {
    width: 10px;
    height: 16px;
    background-position: -135px -109px;
}

.sprite-minus {
    width: 20px;
    height: 20px;
    background-position: -5px -135px;
}

.sprite-plus {
    width: 20px;
    height: 20px;
    background-position: -35px -135px;
}
