<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level}</level>
        </filter>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <target>System.err</target>
        <encoder>
            <pattern>%d %-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.dir}/data-content-trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${logging.dir}/data-content-trace-%i-log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EMAIL" class="org.reactome.server.util.ScheduledSMTPAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <smtpHost>${mail.host}</smtpHost>
        <smtpPort>${mail.port}</smtpPort>
        <to>${mail.to}</to>
        <from>${mail.from}</from>
        <subject>${mail.subject}</subject>

        <maxMessages>5</maxMessages>
        <timeInterval>1</timeInterval>

        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>
        <asynchronousSending>false</asynchronousSending>
    </appender>

    <logger name="callLogger" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.neo4j" level="ERROR"/>
    <!--
        Leave it as an error then we ignore the warning message Neo4jPersistentProperty: No identity field found for class of type X
        SDN will fix http://stackoverflow.com/questions/37441024/neo4j-sdn-warining-no-identity-field-found-for-class-of-type-for-exception-clas
    -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.reflections" level="WARN"/>

    <logger name="errorLogger" level="WARN">
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--Root logger will log all messages to file that are not caught by other loggers-->
    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
</configuration>