<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Spring MVC Application</display-name>

    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
    </context-param>

    <jsp-config>
        <taglib>
            <taglib-uri>customTag</taglib-uri>
            <taglib-location>/WEB-INF/tags/customTag.tld</taglib-location>
        </taglib>
    </jsp-config>

    <error-page>
        <error-code>404</error-code>
        <!--suppress WebProperties -->
        <location>/WEB-INF/pages/common/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/pages/common/errorPage.jsp</location>
    </error-page>
    <error-page>
        <exception-type>org.springframework.web.bind.MissingServletRequestParameterException</exception-type>
        <!--suppress WebProperties -->
        <location>/WEB-INF/pages/common/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <!--suppress WebProperties -->
        <location>/WEB-INF/pages/common/400.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>Content</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>8484</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Content</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Plugins</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/plugins</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Plugins</servlet-name>
        <url-pattern>/plugins/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Media</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/media</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Media</servlet-name>
        <url-pattern>/media/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Templates</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/templates</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Templates</servlet-name>
        <url-pattern>/templates/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Modules</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/modules</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modules</servlet-name>
        <url-pattern>/modules/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PathwayBrowser</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/PathwayBrowser/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathwayBrowser</servlet-name>
        <url-pattern>/PathwayBrowser/*</url-pattern>
    </servlet-mapping>


     <!--RESTFul WS PROXY Configuration (ONLY USED IN DEV MODE)-->
    <servlet>
        <servlet-name>ReactomeRESTfulAPI</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/ReactomeRESTfulAPI/RESTfulWS</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReactomeRESTfulAPI</servlet-name>
        <url-pattern>/ReactomeRESTfulAPI/RESTfulWS/*</url-pattern>
    </servlet-mapping>

    <!-- Downloads (ONLY USED IN DEV MODE) -->
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>org.reactome.server.utils.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>reactomedev.oicr.on.ca</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/download/current/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download/current/*</url-pattern>
    </servlet-mapping>

</web-app>